table{
    width: 35%;
    border-collapse: collapse;
    margin: auto;
    border: 1px solid;
}

caption{
    caption-side: bottom;
    padding: 20px;
    font-size: 25px;
}

th, td{
    padding: 70px;
    border: 1px solid;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.black{
    background-color: black;
}

.green{
    background-color: green;
}